<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <footer class="bg-dark text-white text-center py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <a href="#" aria-label="Facebook" class="text-white mx-2">
            <img src="../img/social-icons/facebook.svg" alt="Facebook Icon" width="24" height="24">
          </a>
          <a href="#" aria-label="Twitter" class="text-white mx-2">
            <img src="../img/social-icons/twitter.svg" alt="Twitter Icon" width="24" height="24">
          </a>
          <a href="#" aria-label="LinkedIn" class="text-white mx-2">
            <img src="../img/social-icons/linkedin.svg" alt="LinkedIn Icon" width="24" height="24">
          </a>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>Email: <a href="mailto:info@intel.com" class="text-white">info@intel.com</a></p>
          <p>Phone: <a href="tel:+1234567890" class="text-white">+1 (234) 567-890</a></p>
        </div>
        <div class="col-md-4">
          <h5>© 2023 Intel Corporation</h5>
          <p>All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>